*.ipynb_checkpoints
*.pyc
*.swp
*~
*.png
learning
*.pickle
*.pt
examples/final_examples/a617-950-deterministic/loss-history.txt
*.pdf
*.lyx
**/loss-history.txt
*.prof
**/#*.lyx#
nohup.out
examples/a617
doc/sphinx/_build
.DS_Store
build/
dist/
pyoptmat.egg-info/
examples/ode/results.txt
examples/ode/log
results.txt
